*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(227, 229, 231);
}

.container{
    border: none;
    width: 41%;
    height: 550px;
    position: absolute;
    top: 30px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(187, 184, 184, 0.3);
}

h1{
    color: orange;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 50px;
}

#p1{
    border: none;
    font-size: small;
    width: 300px;
    margin-top: 15px;
    margin-left: 50px;
}

#p2{
    border: none;
    font-size: small;
    width: 300px;
    margin-top: 10px;
    margin-left: 50px;
}

#backgr{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 153, 0);
    position: relative;
    top: 150px;
}

.content{
    display: flex;
    gap: 30px
}
#member1{
    border: none;
    width: 135px;
    height: 215px;
    position: relative;
    top: 5px;
    left: 40px;
    z-index: 1;
}

#member2{
    border: none;
    width: 135px;
    height: 215px;
    position: relative;
    top: 40px;
    left: 47px;
    z-index: 1;
}

#member3{
    border: none;
    width: 135px;
    height: 215px;
    position: relative;
    top: 90px;
    left: 50px;
    z-index: 1;
}

img{
    width: 135px;
    height: 150px;
}

#p3{
    font-size: small; 
   
}

.p4{
    font-weight: 500;
}

i{
    color: orange;
}